body{
	color: #321e40;
}
input{
	color: #321e40 !important;
}
textarea {
    overflow:auto;
    resize: none;
}
a, a:focus{
	color: #68A996;
	cursor: pointer;
}
a:hover{
	color: #652D57;
	text-decoration: none;
}

.my-btn{
	color: #fbe2ad;
	background-color: #652D57;
}
.my-btn:hover, .my-btn:focus{
	color: #68A996;
}

.circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.div-padding5{
	padding: 5px;
}
.div-padding{
	padding: 10px;
}
.show-mode-input[disabled]{
	padding-left: 0px;
	border: 0px;
	cursor: auto;
	background-color: #fff;
}
.yellow-tx{
	color: #fbe2ad;
}
.blue-bg{
	background-color: #68A996;
}
.vinous-bg{
	background-color: #652D57;
}
.blue-bg a{
	color: #fbe2ad;
}

.thumbnail{
	border: 2px solid #652D57;
}
.main-menu{
	padding: 0px 20px;
	background-color: #652D57;
}
.main-menu a{
	background-color: #652D57 !important;
}
.main-menu a:hover{
	color: #fbe2ad;
}
.main-menu .active a{
	color: #fbe2ad;
}
.main-menu ul > li{
	background-color: #652D57 !important;
}

.panel-vinous > .panel-heading{
	color: #fbe2ad;
    background-color: #652D57;
    border-color: #652D57;
}
.panel-vinous{
    border-color: #652D57;
}

.ui-select-bootstrap .ui-select-choices-row.active > a{
	background-color: #652D57;
}

.btn-link:hover, .btn-link:focus {
    color: #652D57;
}

.btn-link {
    color: #68A996;
}

.form-control:focus {
    border-color: #68A996;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
