<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="declarations" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <div class="container-fluid" ng-controller="mainController">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <nav class="navbar main-menu">
          <div class="navbar-header">
            <a class="navbar-brand" href="#/home">Declarations</a>
          </div>
          <div>
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#/home">Home</a>
              </li>
              <li ng-if="isLoggedIn">
                <a href="#/myProfile">My Profile</a>
              </li>
              <li ng-if="isLoggedIn">
                <a ng-href="#/myDeclarations">My Declarations</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li ng-if="!isLoggedIn">
                <a href="/auth/facebook">
                  Login
                </a>
              </li>
              <li ng-if="isLoggedIn">
                <a href="/#/myProfile/show/logout">
                  Logout ({{currentUser.firstName + " " + currentUser.lastName}})
                </a>
              </li>
            </ul>
          </div>
      </nav>
      <div ng-view></div>

    </div>

    <div class="col-md-1"></div>
  </div>

  <!-- Google Maps JavaScript API -->
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en"></script>
  
  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.min.js"></script>
  <script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
  <script src="bower_components/vs-google-autocomplete/dist/vs-google-autocomplete.min.js"></script>
  <script src="bower_components/angular-easyfb/angular-easyfb.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
  
  <script src="app.js"></script>
  <script src="services/declarationsSrv.js"></script>
  <script src="services/addressesSrv.js"></script>
  <script src="services/countriesSrv.js"></script>
  <script src="services/locationsSrv.js"></script>
  <script src="services/gendersSrv.js"></script>
  <script src="services/securitiesSrv.js"></script>
  <script src="services/usersSrv.js"></script>
  <script src="directives/singleDeclaration.js"></script>
  <script src="directives/userProfile.js"></script>
  <script src="features/home/home.js"></script>
  <script src="features/decDetails/decDetails.js"></script>
  <script src="features/myProfile/myProfile.js"></script>
  <script src="features/myDeclarations/myDeclarations.js"></script>
  
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
