<div class="row">
	<div class="col-md-6" ng-if="!access">
		<div class="thumbnail">
			You haven't access to this page. Please log in.
		</div>
	</div>
	<div class="col-md-6" ng-if="access && user">
		<user-profile 
			data-user="{{user}}" 
			data-pic="true">
		</user-profile>
		<div class="panel panel-vinous">
		    <div class="panel-heading">Details</div>
		    <div class="panel-body">
		    	<div class="form-group row" ng-if="user.email.length">
		    		<label class="col-md-3 control-label">Email</label>
		    		<div class="col-md-7">
		    			<span ng-repeat="email in user.email">
		    				{{email.name}}		
		    			</span>
		    		</div>
		    	</div>
		    	<div class="form-group row" ng-if="user.phoneNumber.length">
		    		<label class="col-md-3 control-label">Phone number</label>
		    		<div class="col-md-7">
		    			<span ng-repeat="phoneNumber in user.phoneNumber">
		    				+{{phoneNumber.countryCode}}&nbsp;{{phoneNumber.localCode}}-{{phoneNumber.number}}		
		    			</span>
		    		</div>
		    	</div>
		    	<div class="form-group row" ng-if="user.age">
		    		<label class="col-md-3 control-label">Age</label>
		    		<div class="col-md-7">{{user.age}}</div>
		    	</div>
		    	<div class="form-group row" ng-if="owner">
		    		<div class="col-md-7 col-md-offset-3" ng-if="!editAllowed">
						<a href="#/userProfile/edit" class="btn my-btn">
							Edit Profile
						</a>		    		
		    		</div>
				</div>
		    </div>
		</div>
	</div>
</div>