<div ng-controller="homeCtrl">
  <p class="text-right">
    <button class="btn btn-lg vinous-bg yellow-tx" ng-click="dataShowType='gallery'" ng-init="dataShowType='gallery'">
      <span class="glyphicon glyphicon-th yellow-tx"></span> 
      <span class="yellow-tx" ng-if="dataShowType=='gallery'"> GALLERY </span>
    </button>

    <button class="btn btn-lg vinous-bg yellow-tx" ng-click="dataShowType='list'">
      <span class="glyphicon glyphicon-th-list yellow-tx"></span>
      <span class="yellow-tx" ng-if="dataShowType=='list'"> LIST </span>
    </button>
  </p>

  <div class="row">
    <div class="col-md-2 div-padding">
      <div class="panel panel-vinous">
        <div class="panel-heading">Filter Declarations</div>
        <div class="panel-body">

          <label>Privacy</label>
          <ui-select ng-model="filters.security" theme="bootstrap">
            <ui-select-match placeholder="Select types..." allow-clear="true">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="sec in filters.securities">
              {{sec.name}}
            </ui-select-choices>
          </ui-select>

          <label>Preferred gender</label>
          <ui-select ng-model="filters.gender" theme="bootstrap">
            <ui-select-match placeholder="Select types..." allow-clear="true">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="gender in filters.genders">
              {{gender.name}}
            </ui-select-choices>
          </ui-select>

        </div>
      </div>
    </div>
    <div class="col-md-10 div-padding5 clearfix" 
          infinite-scroll="addMoreDeclarations()" 
          infinite-scroll-distance="1" 
          infinite-scroll-immediate-check="true"
          infinite-scroll-disabled="stopLoading"
          >
      <div class="div-padding5" ng-repeat="dec in declarationsList" ng-class="{'col-md-12': dataShowType=='list', 'col-md-4': dataShowType=='gallery'}">
        <single-declaration class="thumbnail" data-show-type="{{dataShowType}}" data-single-declaration="{{dec}}" ></single-declaration>
      </div>
    </div>
  </div>
    
</div>
