<h4> 
  <b>
    <a ng-href="#/decDetails/show/{{declaration.id}}">
      {{declaration.title}}      
    </a>
  </b> 
</h4>
<p> {{declaration.description}} </p>
<p>
  <span ng-if="declaration.userAccount">
    <span class="glyphicon glyphicon-user"></span>
    <a ng-href="#/userProfile/show/{{declaration.userAccount.id}}">
      {{declaration.userName}}  
    </a>
  </span>
  <span class="pull-right">
    <span class="glyphicon glyphicon-time"></span>
    {{declaration.lastModified | date:'dd-MM-yyyy HH:mm'}}
  </span>
</p>